.container {
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  display: flex; 
 
}

.button {
  display: inline-block; 
  padding: 8px 25px;
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid #D2D2D2;
  cursor: pointer;
  color: #3E3E3E;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 


  
}

.checked {
  color: rgb(255, 255, 255);
  border-color: var(--red);
  background-color: var(--red);
}

.checkIcon {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1;
}
