.container {
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  display: flex; 
}

.button {
  display: inline-block; 
  padding: 8px 25px;
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid #d2d2d2;
  cursor: pointer;
  color: #a3a3a3;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.checked {
  color: black;
  border: 2px solid #ff5656;
}

.checkIcon {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1;
}
