.filter{
  padding-left: 3%;
  padding-right: 3%;
}

.slider {
  border-radius: 15px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 8px;
  gap: 1px;
 
}

.slider::-webkit-scrollbar {
  display: none;
}
