.filter {
  display: flex;
  gap: 8px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  align-self: start;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* чтобы фильтр находился поверх других элементов */
}

.title {
  font-family: 'Nunito';
  font-size: 18px;
  padding: 0 0 20px;
}


.title {
  font-family: 'Nunito';
  font-size: 18px;
  padding: 0 0 20px;
}
