.headerInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skeletonCategoryContainer{
  display: flex;
}

.skeletonProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
 
}


.filter{

  width: 100%;
  position: -webkit-sticky;
  position: sticky ;
  top: 0;
  z-index: 1000; 
  overflow: hidden; 
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
