.product-page {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.backWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  height: 91px;
  
}

.cart {
  box-shadow: 0px -3px 50px var(--boxShadow), 0px -3px 50px var(--boxShadow);
  border-radius: 20px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'Nunito';
  font-size: 20px;
  margin: 0;
}

.text {
  font-size: 14px;
  margin: 0;
}

.image-wrapper {
  flex-shrink: 0;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chip-wrapper {
  display: flex;
  gap: 8px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px -3px 50px var(--boxShadow), 0px -3px 50px var(--boxShadow);
}


.content-wrappers {
  display: flex;
 
  flex-direction: column;
  gap: 40px;
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  padding-bottom: 0px;
  margin-bottom: 100px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px -3px 50px var(--boxShadow), 0px -3px 50px var(--boxShadow);
}

.title {
 
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.desTitle {
  color: #3E3E3E;  
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.17499999701976776px;
  text-align: left;
}

.desc {
  color: #A3A3A3;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.descs {
  color: #A3A3A3;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list {
  padding: 0;
  list-style: none;
}

.image {
  border-radius: 4px;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  color: #222222;
  font-weight: 700;
  font-size: 36px;
}

.old-price {
  font-size: 20px;
  color: lightgray;
  font-weight: 400;
  text-decoration: line-through;
}

.wishlist-text {
  display: none;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}




.ButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;



  position: fixed;
 
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}

.ButtonWrapper button {
  width: calc(100vw - 40px);
}


.descsc{
  margin-bottom: 10px;
}
