.product-card-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 95%;
  border-radius: 500px;
  
}

.sort-wrapper {
  width: 100%;
  background-color: #e8ebf0;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 500px;
}

.sort {
  font-size: 14px;
  cursor: pointer;
  min-width: 235px;
  transition: all 150ms linear;
}

.sort:hover {
  transition: all 150ms linear;
  color: red;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: grid;
  gap: 10px;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}

.tovarConteiner{
  padding: 10px;
  width: 99% ;
  box-shadow: 0px 4px 10px #a3a3a394;
  border-radius: 15px;
  
}

