.product-card {
  display: flex;

  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  transition: all 200ms linear;
  animation: fade 200ms linear;
  position: relative;
  box-shadow: 0px -3px 50px var(--boxShadow), 0px 3px 50px var(--boxShadow);
  border-radius: 15px;
  padding: 10px;
  max-height: 120px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-wrapper {
  position: relative;
}

.image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 120ms linear;
  z-index: 1;
}

.image-wrapper:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 120ms linear;
}

.image {
  border-radius: 4px;
  object-fit: contain;
  display: block;
  min-width: 100px;
  max-height: 100px;
}

.discount-chip {
  position: absolute;
  top: 9px;
  left: 9px;
}

.wishlist-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 3;
}

.titleContent{
  align-self: flex-start;
  width: 120px;
}

.title {
  text-decoration: none;
 
  font-weight: 600;
  font-size: 18px;
  color: #222222;
  margin: 0;
  margin-top: 10px;
}

.title:hover {
  color: #f44336;
}

.priceContents{
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  justify-content: center;
}

.priceContent{
  align-self: flex-end;
  width: 80px;
  justify-self: flex-start;

}

.price {
  color: #FF5656;
  font-weight: 700;
  font-size: 20px;
}

.old-price {
  font-size: 16px;
  color: lightgray;
  font-weight: 400;
  text-decoration: line-through;
}

.chips-wrapper {
  align-self: flex-start;
  display: flex;
  gap: 10px;
}


@media screen and (min-width: 768px) {
  .image {
      min-height: 331px;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    min-height: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .image {
    min-height: 346px;
  }
}
