.cart {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 40px;
 
}

.ButtonWrapper {
  width : 100%;
  position : absolute;
  bottom : 0;
}

.cartWrapper {
  padding : 0px 20px 20px 20px;
  border-radius : 12px;
  box-shadow: 0px 10px 25px -10px black;
}

.cart-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .cart {
    flex-direction: row;
  }
}
