.reitingRestoran{
  color: white;
}

.reitingRestoranDiv{
  background-color: var(--red);

  width: 42px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}