@import './fonts.css';


:root {
  --red: #FF5656;
  --text: #3E3E3E;
  --boxShadow: #F1F1F3;
  --white: #FFFFFF;
}

body {
  font-family: 'productsans';
  background-color: var(--background-color);
  color: var(--text);
}


